@import url('https://fonts.googleapis.com/css?family=Exo|Exo+2');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import "reset";

$lightgrey: #757780;
$lightblue: #1B98E0;
$grey: #5D5D60;
$black: #000000;


* {
  box-sizing: border-box;

}

a {
  text-decoration: none;
}
/////// top nav //////////
.container{
  font-family: 'Exo', sans-serif;
  box-shadow: none;
  .nav-wrapper{
    background: white;
    .brand-logo{
      color: $lightgrey;
      padding-left: 10px;
    }
    ul{
      li{
        a{
          color: $lightgrey;
        }
      }
    }
  }
}

/////// top area //////

// .top-area {
//   font-family: 'Alex Brush', cursive;
//   width: 100%;
//   background: yellow;
//   overflow: hidden;
//   position: relative;
//   .welcome-text {
//     font-size: 94px;
//     padding: 20px;
//     border-radius: 10px;
//     color: $lightblue;
//     text-align: center;
//     background: rgba(235, 235, 235, .5);
//     position:absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//   .top-img {
//     img {
//       display: block;
//       margin: auto;
//       width: 100%;
//
//     }
//   }
// }
